html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(30, 30, 30);
    font-family: 'Roboto', Arial, sans-serif;
}

nav {
    background-color: black;
    display: flex;
    align-items: center;
    border-bottom: 4px solid #cf1515;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: auto;
    align-items: center;
}

nav li {
    margin-right: 10px;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

nav li a:hover {
    background-color: rgb(13, 13, 13);
    border-radius: 5px;
}

#perfil-img {
    width: 85px;
    height: 75px;
    margin-right: 10px;
    margin-left: 5px;
}

#icone-login-img {
    width: 50px;
    height: auto;
}

h1 {
    color:white;
}

footer {
    background-color: black;
    color: #fff;
    font-weight: bold;
    padding: 20px 0;
    font-size: 14px;
    border-top: solid #cf1515 4px;
}

.footer-conteudo {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    margin: 0 10px;
}

.footer-section h4 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #cf1515;
}

.footer-section p {
    margin: 5px 0;
}

.icones-redes a {
    margin-right: 10px;
}

.icones-redes img {
    width: 36px;
    height: 36px;
    transition: transform 0.3s ease;
}

.icones-redes img:hover {
    transform: scale(1.3);
}

.footer-inferior {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
}